<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ndms.ndms.me.webapi.mapper.MeElementMapper">

    <sql id="MeElementQuery">
        id,part_name,part_number,attribution_id,uploader,uploader_id,description,url_2d,url_3d,manufacture_id,created_date,update_date
    </sql>

    <resultMap id="listMap" type="com.ndms.ndms.pojo.me.me_VO.MeElementVO">
        <id column="id" property="id"/>
        <result column="part_name" property="partName"/>
        <result column="part_number" property="partNumber"/>
        <result column="attribution_id" property="attributionId"/>
        <result column="uploader_id" property="uploaderId"/>
        <result column="url_2d" property="url2d"/>
        <result column="url_3d" property="url3d"/>
        <result column="manufacture_id" property="manufactureId"/>
    </resultMap>

    <select id="list" resultMap="listMap">
        SELECT <include refid="MeElementQuery"/> FROM me_db ORDER BY id
    </select>
    
    <select id="listByUploaderId" resultMap="listMap">
        SELECT <include refid="MeElementQuery"/> FROM me_db WHERE uploader_id = #{uploaderId}
    </select>

    <select id="countByUploaderId" resultType="int">
        SELECT COUNT(*) FROM me_db WHERE uploader_id = #{uploaderId}
    </select>

    <insert id="addMeElement" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO me_db (
        id,part_name,part_number,attribution_id,uploader,uploader_id,description,url_2d,
        url_3d,manufacture,manufacture_id,created_date,update_date
        ) VALUES(
        #{id},#{partName},#{partNumber},#{attributionId},#{uploader},#{uploaderId},#{description},#{url2d},
        #{url3d},#{manufacture},#{manufactureId},#{createdDate},#{updateDate}
        )
    </insert>
    
    <select id="countByPartNumber" resultType="int">
        SELECT COUNT(*) FROM me_db WHERE part_number = #{partNumber}
    </select>
    
    <delete id="deleteMeElementByIds">
        DELETE FROM me_db WHERE id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteMeElementByUploaderIds">
        DELETE FROM me_db WHERE uploader_id in
        <foreach collection="array" item="uploaderId" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="countById" resultType="int">
        SELECT COUNT(*) FROM me_db WHERE id = #{id}
    </select>

    <update id="updateMeElementById">
        UPDATE me_db
        <set>
            <if test="partName!=null">
                part_name=#{partName},
            </if>
            <if test="attributionId!=null">
                attribution_id=#{attributionId},
            </if>
            <if test="uploader!=null">
                uploader=#{uploader},
            </if>
            <if test="uploaderId!=null">
                uploader_id=#{uploaderId},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
            <if test="url2d!=null">
                url_2d=#{url2d},
            </if>
            <if test="url3d!=null">
                url_3d=#{url3d},
            </if>
            <if test="manufacture">
                manufacture=#{manufacture},
            </if>
            <if test="manufactureId">
                manufacture_id=#{manufactureId},
            </if>
            <if test="createdDate!=null">
                created_date=#{createdDate},
            </if>
            <if test="updateDate">
                update_date=#{updateDate},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getById" resultMap="listMap">
        SELECT <include refid="MeElementQuery"/> FROM me_db WHERE id=#{id}
    </select>




</mapper>