<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ndms.ndms.passport.webapi.mapper.EmpAdminMapper">
    <sql id="EmpQuery">
        id,username,emp_number,password,dep_id,mail,cell_phone,enable,locked,last_login_ip,login_count,gmt_last_login,gmt_created,gmt_modified
    </sql>

    <select id="countByUsername" resultType="int">
        SELECT COUNT(*) FROM emp_admin WHERE username = #{username}
    </select>


    <insert id="addAdmin" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO emp_admin(id,username,emp_number,password,dep_id,mail,cell_phone,enable,locked,
        last_login_ip,login_count,gmt_last_login,gmt_created,gmt_modified) VALUES(#{id},#{username},#{empNumber},#{password},#{depId}
        #{mail},#{cellPhone},#{enable},#{locked},#{lastLoginIp},#{loginCount},#{gmtLastLogin},#{gmtCreated},#{gmtModified})
    </insert>

    <select id="getByUsername" resultMap="Emp">
        SELECT <include refid="EmpQuery"/> FROM emp_admin WHERE username = #{username}
    </select>

    <select id="getByEmpNumber" resultMap="Emp">
        SELECT <include refid="EmpQuery"/> FROM emp_admin WHERE emp_number = #{empNumber}
    </select>

    <resultMap id="Emp" type="com.ndms.ndms.pojo.ams.emp.ams_VO.EmpAdminVO">
        <id column="id" property="id"/>
        <result column="emp_number" property="empNumber"/>
        <result column="dep_id" property="depId"/>
        <result column="cell_phone" property="cellPhone"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="login_count" property="loginCount"/>
        <result column="gmt_last_login" property="gmtLastLogin"/>
        <result column="gmt_created" property="gmtCreated"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <select id="listAllMeAdmin" resultMap="Emp">
        SELECT <include refid="EmpQuery"/> FROM me_emp_admin ORDER BY id ASC;
    </select>


    



</mapper>